@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Sans Fransisco";
  src: url("../../fonts/SansFransisco-SemiBold.woff2") format("woff2"), url("../../fonts/SansFransisco-SemiBold.woff") format("woff"), url("../../fonts/SansFransisco-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sans Fransisco";
  src: url("../../fonts/SansFransisco-SemiBold.woff2") format("woff2"), url("../../fonts/SansFransisco-SemiBold.woff") format("woff"), url("../../fonts/SansFransisco-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("../../fonts/calibri/Calibri-Bold.woff") format("woff"), url("../../fonts/calibri/Calibri-Bold.ttf") format("tff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --heading-font: "Poppins", sans-serif;
  --text-font: "Nunito", sans-serif;
  --secondary-font: "Fransisco";
  --custom-font: "Calibri";
  --primary-color: red;
  --secondary-color: green;
  --heading-color: #333;
  --text-color: #393939;
  --background-color: #fff;
  --box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04);
}